<!-- <div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ message }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="decline()">{{ btnCancelText }}</button>
    <button type="button" class="btn btn-primary" (click)="accept()">{{ btnOkText }}</button>
  </div> -->

<h3 style="background-color: #1a4a72; text-align: center; color: white">
  Delete Account
</h3>

<!--<div *ngFor="let value of staffInfo">
  <p>Access Level: {{ value.access_Level }}</p>
  <p>Email: {{ value.email }}</p>
  <p>Password: {{ value.password }}</p>
  <a>
    <button class="ml-2 btn btn-primary" (click)="deleteAccount(value.staffId)">
        Delete
    </button>
  </a> 
</div>-->
<table class="float-xl-left" class="table table-striped table-dark">
<tr *ngFor="let value of staffInfo">
  <td>Access Level: {{ value.access_Level }}</td>
  <td>Email: {{ value.email }}</td>
  <td>Password: {{ value.password }}</td>
  <td><a>
    <button class="ml-2 btn btn-primary" (click)="deleteAccount(value)">
        Delete
    </button>
    <div *ngIf = "value.isOpenDelete">
      <button type="button" class="btn btn-danger" (click)="setDelete(value.staffId, value)">Confirm</button>
      <button type="button" class="btn btn-primary" (click)="setCancel(value)">Cancel</button>
    </div>
  </a> <td>
</tr>
</table>
